[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
boto3 = "*"
awscli = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
importlib-metadata = "*"

[dev-packages]

[requires]
python_version = "3.8"
